<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- Icons -->
    <script
      src="https://kit.fontawesome.com/54588310a9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <!-- Logo, Eslogan, Barra de Busqueda -->
      <div class="container-logo-search">
        <div class="container-logo">
          <a href="/home">
            <img src="images/logo-mercado-liebre.svg" alt="" />
          </a>
        </div>
        <div>
          <form class="container-search">
            <input
              type="text"
              placeholder="Buscar productos, marcas"
              class="noBorderI"
            />
            <button>
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <div class="eslogan">
          <p>
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y
            sin tarjeta de crédito
          </p>
        </div>
      </div>

      <!-- Navegacion -->
      <nav class="navigation">
        <ul class="nav-1">
          <li>
            <a href="/home">Ofertas</a>
          </li>
          <li>
            <a href="/stores">Tiendas Oficiales</a>
          </li>
          <li>
            <a href="/sell">Vender</a>
          </li>
          <li>
            <a href="/help">Ayuda</a>
          </li>
        </ul>
        <ul class="nav-2">
          <li>
            <a href="/register">
              Creá tu cuenta<i class="fa-solid fa-id-card"></i>
            </a>
          </li>
          <li>
            <a href="/login">
              Ingresá<i class="fa-solid fa-right-to-bracket"></i>
            </a>
          </li>
          <li>
            <a href="/cartshop">
              Mis compras<i class="fa-solid fa-basket-shopping"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <!-- Imagen de Campaña -->
    <div class="campaign">
      <img src="images/img-home-banner.jpg" alt="" />
    </div>
    <main>
      <!-- ultima-visita -->
      <h2>Basado en tu última visita</h2>
      <section class="ultima-visita">
        <!-- Producto -->
        <article class="products flex-grow-1">
          <!-- IMG -->
          <img
            class="content"
            src="images/img-cafetera-moulinex.jpg"
            alt="Imagen de cafetera"
          />
          <!-- Contenedor Desc -->
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$6.770</h3>
              <p>40% off</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="products flex-grow-2">
          <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$230.000</h3>
              <p>20% off</p>
            </div>
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="products flex-grow-3">
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="imagen de celular Samsung Galaxy"
          />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$70.500</h3>
              <p>10% off</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
        <article class="products flex-grow-4">
          <img
            src="images/img-tv-samsung-smart.jpg"
            alt="imagen de smart Samsung"
          />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$23.200</h3>
              <p>5% off</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
      </section>
      <!-- ofertas -->
      <h2 class="oferts">Ofertas</h2>
      <section class="ofertas">
        <article class="products flex-grow-5">
          <img
            class="content"
            src="images/img-cafetera-moulinex.jpg"
            alt="Imagen de cafetera"
          />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$6.770</h3>
              <p>40% off</p>
            </div>
            <h4>Cafetera Moulinex</h4>
          </div>
        </article>
        <article class="products flex-grow-6">
          <img src="images/img-macbook-pro-2019.jpg" alt="imagen de macbook" />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$230.000</h3>
              <p>20% off</p>
            </div>
            <h4>MacBook Pro 2019</h4>
          </div>
        </article>
        <article class="products flex-grow-7">
          <img
            src="images/img-tv-samsung-smart.jpg"
            alt="imagen de smart Samsung"
          />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$23.200</h3>
              <p>5% off</p>
            </div>
            <h4>SmartTv Samsung 43"</h4>
          </div>
        </article>
        <article class="products flex-grow-8">
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="imagen de celular Samsung Galaxy"
          />
          <div class="contenedor-productos">
            <i class="fas fa-truck"></i>
            <div>
              <h3>$70.500</h3>
              <p>10% off</p>
            </div>
            <h4>Samsung Galaxy S10</h4>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <ul>
        <li>
          <i class="fa-solid fa-credit-card"></i>
          <h4>Pagá con tarjeta o en efectivo</h4>
          <p class="desc">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </li>
        <li>
          <i class="fa-solid fa-gift"></i>
          <h4>Envío gratis desde $ 2.500</h4>
          <p class="desc">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </li>
        <li>
          <i class="fa-solid fa-user-shield"></i>
          <h4>Seguridad, de principio a fin</h4>
          <p class="desc">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </li>
      </ul>
      <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
